[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
[submodule "dircolors_solarized"]
	path = dircolors_solarized
	url = git://github.com/seebi/dircolors-solarized
[submodule "nanocolors"]
	path = nanocolors
	url = git://github.com/nanorc/nanorc.git
